*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html {
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}


img {
    max-width: 100%;
}


.container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    &-inner {
        max-width: 1220px;
    }
}

@include mq() {
    html {
        font-size: 8px;
    }


}